@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
*{margin: 0;padding: 0;}
body {
  margin: 0;
  overflow: hidden;
}

/* #wrap {
  background: url(../img/22.png) cover;
  z-index: 1;
  float: left;
  overflow: hidden;
  width: calc(1940 * 10);
  
} */
canvas{box-sizing: border-box;}
.box {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 999;
  background: url(../img/22.png) center center/100%;
  filter: blur(10);
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxbox1 {
  box-sizing: border-box;
  background: url(../img/topMain.jpg);
  filter: grayscale(0.5);
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* .section{transition: 2s; float: left;
    width: 100%;
    height: 100vh;
    position:absolute;
    max-width: 1940px;
    top: 0;
} */

html{overflow: hidden;}
#wrap{width: calc(1940px*4); box-sizing: border-box; overflow: hidden;}

.section {
    width: 100vw; /* 가로 폭을 전체 화면 너비로 설정 */
    height: 100vh; /* 세로 높이를 전체 화면 높이로 설정 */
    scroll-snap-type: x mandatory; /* 가로 스크롤 시 스냅 효과를 적용 */
    scroll-behavior: smooth; /* 스크롤 애니메이션 적용 */
    overflow: auto; /* 내용이 넘칠 경우 스크롤 표시 */
    float: left;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.section1{}
.section2{background: rgb(228, 35, 112);}
.section3{background: gold;}
.section4{background: skyblue;}

.box-container{width: 90%;height: 100vh;position: relative;top: 0;left: 10%; background: #fff;overflow: hidden; }

.s-box{width: 300px; height: 300px; border: 1px solid #000; position: absolute; top: 25%; left: 25%;transition: linear .5s;} 
.s-box1{transform: rotate(20deg); background:red ; z-index: 4;}
.s-box2{background:blue ; z-index: 3;}
.s-box3{transform: rotate(15deg);background: yellowgreen; z-index: 2;}
.s-box4{transform: rotate(-10deg);background: yellow; z-index: 1;}












svg text {font-family: 'Staatliches', cursive; font-size: 60px; fill:transparent;
    stroke-dasharray: 326px; animation: stroke 1s  linear; animation-fill-mode: forwards;
}
svg text:nth-child(1) {animation-delay: 0s;}
svg text:nth-child(2) {animation-delay: 0.5s;}
svg text:nth-child(3) {animation-delay: 1s;}
svg text:nth-child(4) {animation-delay: 1.5s;}
svg text:nth-child(5) {animation-delay: 2s;}
svg text:nth-child(6) {animation-delay: 2.5s;}
svg text:nth-child(7) {animation-delay: 3s;}
svg text:nth-child(8) {animation-delay: 3.5s;}
svg text:nth-child(9) {animation-delay: 4s;}
svg text:nth-child(10) {animation-delay: 4.5s;}
svg text:nth-child(11) {animation-delay: 5s;}
svg text:nth-child(12) {animation-delay: 5.5s;}
svg text:nth-child(13) {animation-delay: 6s;}
svg text:nth-child(14) {animation-delay: 6.5s;}
svg text:nth-child(15) {animation-delay: 7s;}
svg text:nth-child(16) {animation-delay: 7.5s;}
svg text:nth-child(17) {animation-delay: 8s;}
@keyframes stroke {
    0%   {stroke:black; opacity: .5; stroke-width: 1px; stroke-dashoffset: 326px;}
    70% {fill: transparent;}
    98% {stroke:#fff; stroke-width: 1px;}
    100% {fill: #000; stroke: #ffffff87; stroke-dashoffset: 0px;}}

@keyframes text {
    0%{opacity: 0; left: 200rem;}
    50%{}
    100%{opacity: 1;left: 0}
}
/* 
animation-name: text;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: linear; */
